# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

api_rag_cache.db
rag_cache.db
# Файлы конфигурации с секретами
.env

# Данные ChromaDB
chroma_db/

# Кеш
cache.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

